.bg-player {
  opacity: 0.3;
  list-style: none;
  display: flex;
  padding: 1px;
  background-image: none;
  background-size: 100%;
  border-radius: 7px;
  background-position: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background-position: 0;
  background-image: radial-gradient(
    circle,
    transparent 0%,
    transparent 30%,
    #ffff00 100%
  );
  transition: width 0.5s ease;
}

.text-player {
  text-shadow: 0 0 4px #ffff00;
}
