.bg-player {
  opacity: 0.3;
  list-style: none;
  display: flex;
  padding: 1px;
  background-image: none;
  background-size: 100%;
  border-radius: 7px;
  background-image: radial-gradient(
    circle,
    transparent 0%,
    transparent 30%,
    #ffff00 100%
  );
  transition: width 0.5s ease;

  @media (prefers-color-scheme: light) {
    & {
      opacity: 0.8;
    }
  }
}

.text-player {
  text-shadow: 0 0 4px #ffff00;
}
