---
import Layout from '@/layouts/Layout.astro'
import DayCard from '@/components/day-card.astro'
import type { WorkoutDays } from '@/types/GymTracker'

const title = 'Gym App'

const endpointWorkout = new URL('/api/workouts.json', Astro.url)
const workoutsDay: WorkoutDays[] = await fetch(endpointWorkout).then((res) =>
  res.json()
)
---

<Layout title={title}>
  <section class='flex flex-col gap-4'>
    {
      workoutsDay.map((workout) => (
        <DayCard href={`/${workout.id}`} title={workout.title} />
      ))
    }
  </section>
</Layout>
