---
import Layout from '@/layouts/Layout.astro'
import DayCard from '@/components/day-card.astro'
---

<Layout title='Gym App'>
  <section class='flex flex-col gap-4'>
    <DayCard href='/monday' title='Lunes' body='Empieza la semana con todo' />
    <DayCard href='/tuesday' title='Martes' body='Sigue con todo' />
    <DayCard href='/wednesday' title='Miércoles' body='A mitad de semana' />
    <DayCard href='/thursday' title='Jueves' body='Casi llegamos al fin de semana' />
    <DayCard href='/friday' title='Viernes' body='Último día de la semana' />
  </section>
</Layout>
