<div class='fixed inset-0 h-full w-full -z-50'>
  <div class='relative h-full w-full bg-gray-80'>
    <div
      class='absolute -left-1 -top-1 -z-10 h-full w-full bg-[linear-gradient(to_right,rgba(120,120,0,.1)_1px,transparent_1px),linear-gradient(to_bottom,rgba(120,120,0,.1)_1px,transparent_1px)] bg-[size:6rem_4rem]'
    >
    </div>
    <div
      class='absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,255,0,.15),rgba(255,255,255,0))]'
    >
    </div><div
      class='absolute bottom-0 right-[-20%] top-[70%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,255,0,.15),rgba(255,255,255,0))]'
    >
    </div>
  </div>
</div>

<!-- <style>
  div {
    background: url('/background.webp');
    background-size: cover;
    background-position: center;
    filter: hue-rotate(-20deg) saturate(200%) brightness(150%);
  }
</style> -->
