<div
  class='fixed inset-x-0 top-0 right-0 -z-50 h-screen bg-no-repeat opacity-20 blur-sm'
>
</div>

<style>
  div {
    background: url('/background.webp');
    background-size: cover;
    background-position: top right 30%;
    filter: hue-rotate(-20deg) saturate(200%) brightness(150%);
  }
</style>
