<header class='max-w-3xl h-full px-4 flex items-center justify-between'>
  <div>
    <a href='/'>
      <h1 class='text-3xl font-bold text-zinc-200'><strong>Gym</strong>App</h1>
    </a>
    <p class='text-lg text-gray-600'>¡Entrena todos los días!</p>
  </div>
  <h2 transition:name={`title-page`}></h2>
</header>
