---
import { fetchJson } from '@/services'

const { zone_id } = Astro.props

const endpointWorkout = new URL(`/api/zones/${zone_id}`, Astro.url)
let bodyZone

try {
  bodyZone = await fetchJson(endpointWorkout)
} catch (error) {
  return new Response(null, {
    status: 404,
    statusText: 'Not Found'
  })
}

const { abbreviation } = bodyZone
---

<h1
  class='sticky top-0 text-6xl sm:text-8xl text-right text-white/30 font-audiowide !leading-[0.72] tracking-tighter'
>
  {abbreviation.toUpperCase()}
</h1>
