---
import NavBar from '@/components/navbar.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Gym app for tracking workouts' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <NavBar />
    <main class='max-w-3xl mx-auto px-8'>
      <slot />
    </main>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);

        --accent-red: 234, 58, 58;
        --accent-light-red: 250, 210, 210;
        --accent-dark-red: 101, 10, 10;
        --accent-gradient-red: linear-gradient(
          45deg,
          rgb(var(--accent-red)),
          rgb(var(--accent-light-red)) 30%,
          white 60%
        );

        --accent-green: 92, 123, 30;
        --accent-light-green: 204, 224, 204;
        --accent-dark-green: 10, 49, 10;
        --accent-gradient-green: linear-gradient(
          45deg,
          rgb(var(--accent-green)),
          rgb(var(--accent-light-green)) 30%,
          white 60%
        );

        --accent-blue: 58, 136, 234;
        --accent-light-blue: 204, 224, 250;
        --accent-dark-blue: 10, 49, 101;
        --accent-gradient-blue: linear-gradient(
          45deg,
          rgb(var(--accent-blue)),
          rgb(var(--accent-light-blue)) 30%,
          white 60%
        );

        --accent-orange: 234, 136, 58;
        --accent-light-orange: 250, 224, 204;
        --accent-dark-orange: 101, 49, 10;
        --accent-gradient-orange: linear-gradient(
          45deg,
          rgb(var(--accent-orange)),
          rgb(var(--accent-light-orange)) 30%,
          white 60%
        );

        --accent-pantone: 80, 158, 17;
        --accent-light-pantone: 204, 224, 204;
        --accent-dark-pantone: 10, 49, 10;
        --accent-gradient-pantone: linear-gradient(
          45deg,
          rgb(var(--accent-pantone)),
          rgb(var(--accent-light-pantone)) 30%,
          white 60%
        );

        --accent-purple: 136, 58, 234;
        --accent-light-purple: 224, 204, 250;
        --accent-dark-purple: 49, 10, 101;
        --accent-gradient-purple: linear-gradient(
          45deg,
          rgb(var(--accent-purple)),
          rgb(var(--accent-light-purple)) 30%,
          white 60%
        );

        --accent-orion: 234, 58, 136;
        --accent-light-orion: 250, 204, 224;
        --accent-dark-orion: 101, 10, 49;
        --accent-gradient-orion: linear-gradient(
          45deg,
          rgb(var(--accent-orion)),
          rgb(var(--accent-light-orion)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
